/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Color de fondo suave */
    text-align: center;
  }
  
  .home-title {
    font-size: 2.5rem; /* Tamaño grande para el título */
    color: #333; /* Color del texto del título */
    margin-bottom: 20px; /* Espaciado inferior */
  }
  
  .home-description {
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
    color: #666; /* Color del texto de la descripción */
    margin-bottom: 30px; /* Espaciado inferior */
  }
  
  .home-button {
    padding: 10px 20px; /* Espaciado interior del botón */
    font-size: 1rem; /* Tamaño de la fuente del botón */
    color: white; /* Color del texto del botón */
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
  }
  
  .home-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
  }
  