
body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.form-section {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 250px;
}

h2 {
    color: #f0f0f0;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #d4d4d4;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.dropdown-select {
    padding: 8px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-select:hover {
    background-color: #4a4a4a;
}

button {
    padding: 10px 20px;
    background-color: #5c5c5c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a4a4a;
}

.enviar-btn {
    margin-right: auto;
}

.imprimir-btn {
    margin-left: auto;
}

#area-texto {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    resize: none;
}
